# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mobile_apps\my-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
